.data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: #a3b6e1;
    border: 9px solid #14213d;
    border-radius: 43px;
  }
  img {
    width: 150px;
    margin: 20px;
    border-radius: 20px;
    border: solid rgb(252, 163, 17);
  }
  h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    color: #0b0089;
    text-decoration: none;
  }
  .image {
    display: flex;
  }
h1 {
  color: #0b0089;
}
.dataImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}