body {
  background-color: rgb(229, 229, 229);
}

.sectionCard {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #a3b6e1;
  border: 3px solid #14213d;
  border-radius: 10px;
}

.sectionCard2 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #a3b6e1;
  border: 3px solid #14213d;
  border-radius: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.app {
display: flex;
flex-direction: row;
}